[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = harttle
	email = yangjvn@126.com
[push]
	default = simple
[core]
	editor = vim
	preloadindex = true
	fscache = true
[gc]
	auto = 256
