[user]
	email = yangjvn@126.com
	name = harttle
[push]
	default = matching
[http]
	proxy = 
[https]
	proxy = 
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[alias]
	d = difftool
[mergetool]
	trustExitCode = true
